{% extends 'base.html' %}

{% block javascript %}

<script type="text/javascript">
$(".button_id").on('click', function () {

  var id = $(this).attr('data_id');
  var st = document.getElementById("stat-"+id.toString());

$.ajax({
  url: '/ajax/status/',
  type: 'GET',
  data: {
    'id' : id,
  },
  dataType: 'json',
  success: function (data) {
    if (data.id) {
      // here you update the HTML to change the active to innactive
      if (st.innerHTML === "izdano") {
        st.innerHTML = "vraćeno";
      } else {
        st.innerHTML = "izdano";
      }
    }
  }
});

});
</script>

<script type="text/javascript">
  $(function () {

  /* Functions */

  var loadForm = function () {
    var btn = $(this);
    $.ajax({
      url: btn.attr("data-url"),
      type: 'get',
      dataType: 'json',
      beforeSend: function () {
        $("#modal-izdano .modal-content").html("");
        $("#modal-izdano").modal("show");
      },
      success: function (data) {
        $("#modal-izdano .modal-content").html(data.html_form);
      }
    });
  };

  var saveForm = function () {
    var form = $(this);
    $.ajax({
      url: form.attr("action"),
      data: form.serialize(),
      type: form.attr("method"),
      dataType: 'json',
      success: function (data) {
        if (data.form_is_valid) {
          $("#izdano-table tbody").html(data.html_izdano_list);
          $("#modal-izdano").modal("hide");
          //console.log(data.html_izdano_list)
        }
        else {
          $("#modal-izdano .modal-content").html(data.html_form);
        }
      }
    });
    return false;
  };


  /* Binding */

  // Create izdano
  $(".js-create-izdano").click(loadForm);
  $("#modal-izdano").on("submit", ".js-izdano-create-form", saveForm);

  // Update izdano
  $("#izdano-table").on("click", ".js-update-izdano", loadForm);
  $("#modal-izdano").on("submit", ".js-izdano-update-form", saveForm);

  // Delete izdano
  $("#izdano-table").on("click", ".js-delete-izdano", loadForm);
  $("#modal-izdano").on("submit", ".js-izdano-delete-form", saveForm);

});
</script>

{% endblock %}
{% block content %}
<div class="container"><br>
        <h2>Tablica</h2>
        <hr>
        <p>
          <button type="button" class="btn btn-primary js-create-izdano" data-url="{% url 'izdano_create_edit' %}">
            <span class="glyphicon glyphicon-plus"></span>
            Dodaj korisnika
          </button>
        </p>
        <form method="GET" action="/search_res/">
                   <input class="form-control-button py-2 border-right-0 border" type="search" name="search_bar" placeholder="Pretraži.." />
                  <button type="submit" class="btn btn-primary">Pretraži</button>

       </form>
        <table class="table" id="izdano-table">
            <thead>
                <tr>
                    <th>Redni broj</th>
                    <th>Naziv imovine</th>
                    <th>Predao</th>
                    <th>Preuzeo</th>
                    <th>Barkod</th>
                    <th>Status</th>
                    <th>Akcija</th>
                </tr>
            </thead>
            <tbody>
              {% include 'partial_index_list.html' %}

                <!-- {% for izdano in izdano_list %}

                    <tr>
                    <td>{{ izdano.naziv_imovine }}</td>
                    <td>{{ izdano.predao }}</td>
                    <td>{{ izdano.preuzeo }}</td>
                    <td>{{ izdano.barkod }}</td>
                    <td id="stat-{{ izdano.redni_br }}">{{ izdano.status }}</td>
                    <td><a class="btn btn-info" href="/edit/{{ izdano.pk }}">Edit</a>
                        <a class="btn btn-danger" href="/delete/{{ izdano.pk }}">Delete</a>
                        <button type="button" data_id="{{ izdano.redni_br }}"  class="button_id btn btn-primary">Status</button> -->
                        <!--<a class="btn btn-info pos"  href="/status/{{ izdano.pk }}">Status</a>-->
                    <!-- </td>
                </tr>
                {% endfor %} -->

            </tbody>
        </table>

        <!-- THE MODAL WE WILL BE USING -->
        <div class="modal fade" id="modal-izdano">
          <div class="modal-dialog">
            <div class="modal-content">
          </div>
        </div>
       </div>

        <div style="text-align:center;">
        {% if is_paginated %}
        <ul class="pagination pagination-circle">
          {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
      {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
      {% for i in paginator.page_range %}
        {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
        {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
      {% endfor %}
      {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
      {% else %}
      <li class="disabled"><span>&raquo;</span></li>
      {% endif %}
    </ul>
  {% endif %}
</div>
        <hr>
    </div>
{% endblock %}
