<form method="post" action="{% url 'izdano_delete' izdano.redni_br %}" class="js-izdano-delete-form">
  {% csrf_token %}
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Potvrdi brisanje</h4>
  </div>
  <div class="modal-body">
    <p class="lead">Jeste li sigurni da želite izbrisati korisnika sa rednim brojem <strong>{{ izdano.redni_br }}</strong>?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Zatvori</button>
    <button type="submit" class="btn btn-danger">Izbriši</button>
  </div>
</form>
